body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background: #f8fcfb;
  border-radius: 18px;
  color: #ea8a8a;
  max-width: 700px;
  margin: 30px auto;
  padding: 30px 20px;
}

.weather-app-form-input {
  border-style: #631357;
  border-radius: 6px;
  background: #f2f2f2;
  color: #685454;
  font-size: 16px;
  font-style: italic;
  padding: 14px 20px;
  width: 60%;
}

.weather-app-form-input::placeholder {
  opacity: 0.5;
}

.weather-app-form-button {
  border: none;
  border-radius: 6px;
  background: #631357;
  color: #f8fcfb;
  font-size: 16px;
  padding: 16px 20px;
  transition: all ease-in-out 200ms;
}

.weather-app-form-button:hover {
  cursor: pointer;
}

.weather-app-form,
h1 {
  text-align: center;
}

h1 {
  font-weight: 200;
}

.weather-details {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.current-city,
.current-country {
  color: #685454;
  font-weight: bold;
}

.current-temp-emoji,
.city-temperature {
  font-size: 70px;
}

.current-temp-emoji {
  margin-left: 100px;
  padding-left: 30px;
}

.city-temperature {
  color: #685454;
  display: flex;
  margin-left: 57px;
}

.current-data {
  line-height: 30px;
  margin-top: 0;
  margin-right: 80px;
  padding-right: 30px;
}

.current-data-humidity {
  margin-right: 7px;
}

.humidity-percentage,
.wind-value {
  color: #631357;
}

a {
  color: #631357;
  font-weight: 400;
}

footer {
  color: #ea8a8a;
  font-size: 14px;
  font-weight: 300;
  padding-top: 30px;
  text-align: center;
}
